body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    background-color: #424558;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

.submenu{
    display: none;
}

nav input[type=checkbox]{
    display: none;
}

nav label{
    display: none;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: #FFF;
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

.submenu a{
    border-bottom: 1px solid #CCC;
}

.menu-html:hover{
    border-top: 5px solid #922b21;
    background-color: rgb( 176, 58, 46, 0.15 )
}

.menu-js:hover{
    border-top: 5px solid  #76448a;
    background-color: rgb(108, 52, 131, 0.15 )
}

.menu-bdd:hover{
    border-top: 5px solid  #1f618d;
    background-color: rgb(  40, 116, 166, 0.15 )
}

.menu-php:hover{
    border-top: 5px solid  #148f77;
    background-color: rgb(  17, 122, 101, 0.15 )
}

.menu-missions:hover{
    border-top: 5px solid #b7950b;
    background-color: rgb(  185, 119, 14, 0.15 )
}

.menu-certif:hover{
    border-top: 5px solid  #b3b6b7;
    background-color: rgb(  144, 148, 151, 0.15 )
}

.menu-html .submenu{
    background-color: #922b21;
}

.menu-js .submenu{
    background-color: #76448a;
}

.menu-bdd .submenu{
    background-color: #1f618d;
}

.menu-php .submenu{
    background-color: #148f77;
}

.menu-missions .submenu{
    background-color: #b7950b;
}

.menu-certif .submenu{
    background-color: #b3b6b7;
}

.submenu li:hover a{
    color: #EEE;
    font-weight: bold;
}

.menu-html .submenu li:hover{
    background-color: rgb(176, 58, 46, 0.15);
}

.menu-js .submenu li:hover{
    background-color: rgb(108, 52, 131, 0.15);
}

.menu-bdd .submenu li:hover{
    background-color: rgb(40, 116, 166, 0.15);
}

.menu-php .submenu li:hover{
    background-color: rgb(17, 122, 101, 0.15);
}

.menu-missions .submenu li:hover{
    background-color: rgb(185, 119, 14, 0.15);
}

.menu-certif .submenu li:hover{
    background-color: rgb(144, 148, 151, 0.15);
}

nav input[type=checkbox]:checked ~ ul{
    display: block;
}

@media screen and (max-width: 780px){
    .menu-mobile{
        display: block;
        color: #FFF;
        background-color: rgba(29, 197, 151, 0.97);
        text-align: center;
        padding: 12px 0px;
    }
    nav ul{
        display: none;
    }
    nav ul li, nav ul li a{
        width: 100%;
        text-align: center;
    }
    nav ul li a, nav ul li:hover a{
        padding: 10px 0px;
    }
    nav li:hover .submenu{
        display: block;
        position: static;
    }
}
