body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #5499c7;
}
nav>ul{
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul{
    list-style: none;
}
.tp{
    display: none;
}
.htmletcss:hover .tp{
    display: block;
    
}
.js:hover .tp{
    display: block;
    
}
.bdd:hover .tp{
    display: block;
    
}
.php:hover .tp{
    display: block;
    
}
.missions:hover .tp{
    display: block;
    
}
.certifications:hover .tp{
    display: block;
    
}
.menu p{
    display: none;
}
.menu input{
    display: none;

}
.menu{
    background-color: #154360;
    
}
a{
    text-decoration: none;
    color: white;
    margin: 50px;
}
nav>ul>ul{
    position: absolute;
    border-top: 5px solid black;
    background-color:  #aeb6bf  ;
}


