body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.container {
    width: 780px;
    margin: auto;
    border: 5px solid #3388CC;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
    padding: 20px;
}


h1, h2 {
    font-size: 20px;
    font-weight: bold;
}


.section {
    margin-bottom: 70px;
}


.profile-pic {
    float: right;
    width: 100px;
    border-radius: 50%;
}


.info {
    font-size: 16px;
}


.langues, .informatique, .experiences, .formations {
    margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        margin: auto;
        padding: 10px;
    }

    .profile-pic {
        float: none;
        display: block;
        margin: 0 auto;
    }
}